<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="campusshark.dhruv.swiftly">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXcP8MfI9I0juIW2xg7Dmtx63vh8WOTFA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CabActivity"
            android:label="@string/title_activity_cab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TravelEntry" />
        <activity android:name=".NearbyPlaces" />
        <activity android:name=".ThePlaceList" />
        <activity android:name=".DigitalStorage" />
        <activity android:name=".FilesActivity" />
        <activity android:name=".uploadActivity" />
        <activity android:name=".ShowDoc" />
        <activity android:name=".AadharDetails"></activity>
    </application>

</manifest>